@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}

.task_container {
  margin: 10px 0px;
  padding: 30px 40px;
  border-radius: 10px;
  background: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease;
}

#API_button {
  position: fixed;
  bottom: 15px;
  left: 93%;
  padding: 7px 14px;
}

.add_task_container {
  display: block;
  width: 95%;
}

#task_list {
  width: 95%;
  display: block;
  margin-top: 20px;

  transition: all 0.2s ease;
}

.task_header {
  width: 95%;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(46, 46, 46);

  justify-content: center;
}

#task_count {
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 50px;
  text-align: center;
  color: white;
  background-color: rgb(43, 43, 43);
  min-width: 22px;

  margin-left: 6px;
}

#addTask {
  border: none;
  outline: none;
  width: 100%;
  min-height: 80px;
  background-color: transparent;
  color: rgb(46, 46, 46);

  font-size: 20px;
  font-weight: 600;
}

::placeholder {
  color: rgb(148, 148, 148);
  opacity: 1;
}

#add_task_button {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background-color: rgb(34, 34, 34);

  border: none;
  outline: none;

  transition: all 0.2s ease;
  float: right;
  width: 135px;
  height: 45px;
  display: flex;
  text-align: center;
  justify-content: center;
}

button:hover {
  opacity: 0.9;
}

.todo {
  font-size: 16px;
  font-weight: 600;

  margin: 30px 1px;

  transition: all 0.2s ease;
  animation: appearIn 0.2s ease;
}

/* .todo_new {
  font-size: 15px;
  font-weight: 500;

  margin: 20px 1px;

  transition: all 0.2s ease;
  animation: appearIn 0.2s ease;
} */

.todo_dot {
  width: 2px;
  height: 15px;
  border-radius: 50px;
  background-color: rgb(44, 143, 255);
  margin-right: 10px;
}

@keyframes appearIn {
  0% {
    position: relative;
    opacity: 0px;
    /* left: -3px; */
  }
  100% {
    position: relative;
    opacity: 1;
    /* left: 0px; */
  }
}

/*------- Scrollbar --------------*/
body::-webkit-scrollbar {
  width: 0rem !important;
}

body::-webkit-scrollbar-track {
  background: #ececec;
}

body::-webkit-scrollbar-thumb {
  background: #929292 !important;
  border-radius: 50px;
}

#IntentTriggerModal,
#IntentTriggerModal_getAPI {
  backdrop-filter: blur(10px);
}

.intent_button {
  border: none;
  outline: none;

  background: rgb(34, 34, 34);
  color: white;
  border-radius: 50px;
  position: relative;
  left: -3px;

  padding: 5px 22px 5px 17px;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.2s ease;

  margin-top: 8px;
}

.content_block .intent_button {
  margin: 10px;
  padding: 8px 25px;
  font-size: 14px;
}

.close {
  border: none;
  outline: none;

  background: rgb(231, 231, 231);
  color: rgb(73, 73, 73);
  border-radius: 50px;

  padding: 6px 8px;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.2s ease;

  float: right;
  margin-right: 4px;
}

button:focus,
button:active {
  outline: none;
}

.modal_header {
  width: 100%;
}

.content_block {
  text-align: center;
  padding: 2px 10px 5px 10px;

  transition: all 0.3s ease;
  margin-top: 8px;
}

.content_block img {
  margin-bottom: 10px;
}

.content_block .content_title {
  font-size: 20px;
  font-weight: 800;
  color: rgb(73, 73, 73);
  margin-bottom: 15px;
}

.intents_pills {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 800;
  padding: 5px 18px;
  border-radius: 50px;
  margin: 5px;
  animation: all 0.2s ease;
  white-space: nowrap;

  background-color: rgb(57, 110, 255);
}

#extracted_intents {
  margin-bottom: 20px;
}

.input_box_big {
  border: none;
  outline: none;
  padding: 10px;
  margin: 10px 0px;
  width: 100%;
  min-height: 80px;
  background-color: rgba(73, 73, 73, 0.055);
  color: rgb(46, 46, 46);

  font-size: 15px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.input_box {
  border: none;
  outline: none;
  padding: 10px;
  margin: 2px 0px 5px 0px;
  width: 100%;
  min-height: 40px;
  background-color: rgba(73, 73, 73, 0.055);
  color: rgb(46, 46, 46);

  font-size: 15px;
  font-weight: 400;
  transition: all 0.2s ease;
}

.summary_text {
  text-align: left;
  transition: all 0.2s ease;
  margin: 10px;
  min-height: 50px;
  white-space: pre-line;

  font-size: 15px;
  font-weight: 600;
}

.modal-dialog {
  max-width: 600px;
}

#modal_content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
}

/* ----------------------- Movie Styles ------------------------------ */
.tab_section {
  width: 100%;
  margin: 6px 0px 8px 0px;
  text-align: left;
  position: relative;
  left: -5px;
}

.movie_prompt {
  border: none;
  outline: none;
  text-decoration: none;

  background: rgb(240, 240, 240);
  color: rgb(71, 71, 71);
  border-radius: 50px;
  display: inline-block;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s ease;

  margin: 5px 5px 5px 0px;
  cursor: pointer;
  white-space: nowrap;
}

.movie_prompt:hover {
  color: white;
  background: rgb(34, 34, 34);
}

.swiggy {
  background-color: orange;
  color: white;
}

.zomato {
  background-color: tomato;
  color: white;
}

/* ----------------------- Song Styles ------------------------------ */
.spotify_open_button {
  color: rgb(255, 255, 255);
  background-color: rgb(34, 34, 34);
  padding: 15px 50px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  margin: 8px;
}

.banner_image {
  width: 50%;
}
